alembic==1.18.4
apispec==6.10.0
blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
dotenv==0.9.9
Flask==3.1.3
flask-cors==6.0.2
Flask-Login==0.6.3
flask-marshmallow==1.5.0
Flask-Migrate==4.1.0
flask-smorest==0.47.0
Flask-SQLAlchemy==3.1.1
flask-swagger==0.2.14
greenlet==3.5.0
gunicorn==26.0.0
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.12
MarkupSafe==3.0.3
marshmallow==4.3.0
packaging==26.2
psycopg2-binary==2.9.12
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.1
SQLAlchemy==2.0.49
typing_extensions==4.15.0
urllib3==2.6.3
uuid_utils==0.14.1
webargs==8.7.1
Werkzeug==3.1.8
